/* Add here all your css styles (customizations) */

#bg-image {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.front {
  text-shadow: 1px 1px #ff0000;
}

.light-theme .nav-item .nav-link {
  color: #fff;
}

#project1 {
  background-color: #f292a3;
}

#project2 {
  background-color: #85d0cc;
}

#project3 {
  background-color: #fdd194;
}

#project4 {
  background-color: #94d0fd;
}

#project5 {
  background-color: #e2b9db;
}
